@font-face {
  font-family: 'westpacRegular';
  src: url("../fonts/westpachelpawebfont.eot");
  src: url("../fonts/westpachelpawebfont.eot?#iefix") format("embedded-opentype"), url("../fonts/westpachelpawebfont.woff") format("woff"), url("../fonts/westpachelpawebfont.ttf") format("truetype"), url("https://www.westpac.co.nz/assets/fonts/westpachelpawebfont.svg#westpachelparegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'westpacBold';
  src: url("../fonts/westpachelpaboldwebfont.eot");
  src: url("../fonts/westpachelpaboldwebfont.eot?#iefix") format("embedded-opentype"), url("../fonts/westpachelpaboldwebfont.woff") format("woff"), url("../fonts/westpachelpaboldwebfont.ttf") format("truetype"), url("https://www.westpac.co.nz/assets/fonts/westpachelpaboldwebfont.svg#westpachelpaboldregular") format("svg");
  font-weight: 700;
  font-style: normal;
}

body{
	font-family: 'westpacBold';
}